.input-component {
  display: block;
  font: 1.6rem "Ubuntu", sans-serif;
  color: var(--marine-blue);
}
.input-component__label-msg {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  margin-bottom: 4px;
}
.input-component__error-msg {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--strawberry-red);
  padding-top: 4px;
}
.input-component__input {
  height: 0.6rem;
  border-radius: 4px;
  font: 600 1.6rem "Ubuntu", sans-serif;
  border: 1px solid var(--light-gray);
  padding: 16px;
  cursor: pointer;
}
.input-component__input:focus {
  outline: 1px solid var(--purplish-blue);
  border: 1px solid var(--purplish-blue);
}
.input-component__input:-webkit-autofill,
.input-component__input:-webkit-autofill:hover,
.input-component__input:-webkit-autofill:focus,
.input-component__input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.input-component__input--error {
  border: 1px solid var(--strawberry-red);
}
.input-component__input--error:focus {
  outline: 1px solid var(--strawberry-red);
  border: 1px solid var(--strawberry-red);
}
