:root {
  font-size: 62.5%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 16px;
  height: 100vh;
  background-color: var(--magnolia);
  font: 1.6rem "Ubuntu", sans-serif;
  color: var(--marine-blue);
}
