.card-component {
  width: 76vw;

  background-color: white;

  padding: 32px 24px;

  border-radius: 12px;

  position: absolute;
  bottom: 184px;
}
.card-component--hidden {
  display: none;
}
.card-component__input-section {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.card-component__title {
  font-size: 2.4rem;
  margin: 0;
}
.card-component__description {
  color: var(--cool-gray);
  line-height: 24px;
}
